.complex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .user-card {
    width: auto;

    .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .MuiTypography-root {
      text-align: center;
    }
  }
}
