.dasboard-container {
    h1 {
        text-align: center;
        margin-top: 60px;
    }
}

.dashboard-card {
    color: #ccc !important;
}

.return-icon {
    color: #303030;
    border: 1px solid #ccc;
    background-color: #ccc;
    padding: 10px;
    margin: 20px 0 0 10px;
}

.admin-table {
    text-align: center;
    margin-top: 70px;
    
}

.data-card {
    background-color: #fff!important;
}

.author-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.book-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.category-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.add-icon {
    font-size: 25px !important;
    margin: 20px 0 !important;  
    padding: 3px;
    :hover {
        background-color: #333 !important;
        color: #1f7cae !important;
    }
}

.a-id {
    color: #24929a;
}
.a-name {
    color: #ba5656;
}
.a-book {
    color: #4749b7;
}


.one {
    background-color: #3e976c !important;
}
.two {
    background-color: #ba5656 !important;
}

.three {
    background-color: #4749b7 !important;
}
.four {
    background-color: #8c8f38 !important;
}
.five {
    background-color: #24929a !important;
}