.main-header {
    display: flex;
    background-color: #ccc;
    width: 100%;
        img {
            width: 100px;
            list-style-type: none;
            margin-left: 60px;
        }
        nav ul {
            list-style-type: none;
        }
}