.add-form-btn {
    font-size: 13px !important;
    border: none !important;
    
}

.add-form-container {
    margin: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-user-form {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 6px 4px #888888;
    padding: 30px 60px;
        .form-label {
            margin-right: 16px;
        }
        .form-group {
            max-width: 400px;
        }
        .form-label {
            min-width: 80px;
        }
        .form-control {
            padding: 7px;
        }
}


.add-new {
    text-align: center !important;
    color: #ccc !important;
}


