@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
:root {
  font-family: 'Inconsolata', monospace;
  line-height: 1.6;
  color-scheme: light dark;
  color: rgba(201, 198, 198, 0.87);
  background-color: #343434;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  padding: 0;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
